<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.stex.alfred.evernote-attachments-pdf</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1BF60236-1F04-458A-8662-0E920DA9FA0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4561DDC-C13D-48D6-BF2D-9A26DE4A2F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34DA0C8E-904E-45FF-AA83-60BA88D5DF1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>721BF231-EFBA-4D42-8353-C9B68B6CC881</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C544542E-303C-4BC8-8C41-B44194DD5F15</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9D615F2D-70BC-4113-B50D-703756462986</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6BFBF33-BC9D-402B-8A1C-27358DE0F3A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34DA0C8E-904E-45FF-AA83-60BA88D5DF1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D02403BA-0585-4998-8A86-4F851944F8C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BF60236-1F04-458A-8662-0E920DA9FA0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4561DDC-C13D-48D6-BF2D-9A26DE4A2F2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6BFBF33-BC9D-402B-8A1C-27358DE0F3A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>stex</string>
	<key>description</key>
	<string>Exports all attachments in a note as a single PDF file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Evernote: Attachments PDF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>721BF231-EFBA-4D42-8353-C9B68B6CC881</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>evernote-attachments-pdf</string>
				<key>subtext</key>
				<string>Convert all attachments of the current note to a PDF file</string>
				<key>text</key>
				<string>evernote-attachments-pdf</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D02403BA-0585-4998-8A86-4F851944F8C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>install_gems.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BF60236-1F04-458A-8662-0E920DA9FA0E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
    tell application "System Events" to tell process "Evernote"	
        set frontmost to true
        click menu item "Export note…" of menu "File" of menu bar item "File" of menu bar 1
        repeat until (exists first sheet of first window)
            delay 1
        end repeat
        
        tell first sheet of first window
            keystroke "G" using {command down, shift down}
            repeat until (exists first sheet)
                delay 1
            end repeat
            
            keystroke "~/Downloads"
            keystroke return
            set filename to value of text field "Save As:"
            click button "Save"
            
            # Close the "Exported note to..." box, it's almost impossible to
            # access its button regularly.
            keystroke return
        end tell
        return filename
    end tell 
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>export_note.scpt</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E4561DDC-C13D-48D6-BF2D-9A26DE4A2F2B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "fileutils"
require "pathname"

NOTE_PATH       = Pathname.new(ARGV[0].strip)
NOTE_XML_FILE   = NOTE_PATH.join("note.xml").to_s
PDF_OUTPUT_FILE = File.join(ENV["PDF_OUTPUT_FOLDER"], "#{NOTE_PATH.basename}.pdf")

xml = File.read(NOTE_XML_FILE)

attachments = xml.scan(/hash="(\w+)"/)
  .flatten
  .map { |a| "'" + NOTE_PATH.join("#{a}.png").to_s + "'" }

system("#{ENV["CONVERT_PATH"]} #{attachments.join(" ")} '#{PDF_OUTPUT_FILE}'")
FileUtils.rm_rf(NOTE_PATH)

puts PDF_OUTPUT_FILE.to_s</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>create_pdf.rb</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6BFBF33-BC9D-402B-8A1C-27358DE0F3A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:REVEIL_IN_FINDER}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Open Output Folder</string>
						<key>uid</key>
						<string>C544542E-303C-4BC8-8C41-B44194DD5F15</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Show Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>34DA0C8E-904E-45FF-AA83-60BA88D5DF1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Saved to {query}</string>
				<key>title</key>
				<string>PDF successfully generated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D615F2D-70BC-4113-B50D-703756462986</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># `evernote-attachments-pdf`

Simple helper workflow to export all attachments in a note as a single PDF file.

Background: I use Evernote mostly as a document storage and the mobile app
to scan various documents. Doing so creates a new note with each individual scanned
page as image and none of the integrated methods of converting them to a single PDF worked for me:

1. The note title would still be printed
2. Evernote would add additional whitespace margin to each page, making the text smaller than it had to be.

See [this blog post](https://stex.codes/programming/2020/09/02/evernote-attachment-workflow.html) for more information about the problem.

## Installation

Just download the alfred workflow file and open it to install it.

Since the Evernote export format changed quite a bit, I needed a proper XML parser this time, meaning that the workflow depends on a gem (ox).

I set up the script to use `/usr/bin/ruby` instead of `/usr/bin/env ruby` as this would resolve to a Ruby version buried somewhere deep inside macOS. This way, we know for sure which version is used, so it's easier to install the necessary gem.

There are 2 ways to install `ox` for this version of ruby:

1. Install it via the `gem` executable (not the preferred way as you'll need `sudo`)

```ruby
sudo /usr/bin/gem install ox
```

2. Use a local `bundle` (preferred)
    1. Open the workflow folder by right-clicking on the workflow name in Alfred and choosing "Open in Terminal"
    2. Run `/usr/bin/bundle install --standalone`

This will install the necessary gem inside the workflow directory without adding it to your system gems.

## Variables

`CONVERT_PATH`  
To create the PDF document, you'll need `imagemagick` installed on your machine which comes with the `convert` command line tool.  
Usually, it will reside in `/usr/local/bin`, but you can change that path if needed.

`PDF_OUTPUT_FOLDER`  
The directory the workflow will put the generated PDFs in

`REVEIL_IN_FINDER`  
Can be either `true` or `false`. If set to `true`, Finder is opened
after creation</string>
	<key>uidata</key>
	<dict>
		<key>1BF60236-1F04-458A-8662-0E920DA9FA0E</key>
		<dict>
			<key>note</key>
			<string>Ensure that the necessary gem is installed</string>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>34DA0C8E-904E-45FF-AA83-60BA88D5DF1D</key>
		<dict>
			<key>note</key>
			<string>Either show the file in a new Finder window or show the output path in a notification</string>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>721BF231-EFBA-4D42-8353-C9B68B6CC881</key>
		<dict>
			<key>xpos</key>
			<integer>1165</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9D615F2D-70BC-4113-B50D-703756462986</key>
		<dict>
			<key>xpos</key>
			<integer>1165</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>B6BFBF33-BC9D-402B-8A1C-27358DE0F3A2</key>
		<dict>
			<key>note</key>
			<string>Extract the attachments as files and convert them to a single PDF file</string>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>D02403BA-0585-4998-8A86-4F851944F8C1</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>E4561DDC-C13D-48D6-BF2D-9A26DE4A2F2B</key>
		<dict>
			<key>note</key>
			<string>Export the note as XML with inline attachments</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>CONVERT_PATH</key>
		<string>/usr/local/bin/convert</string>
		<key>PDF_OUTPUT_FOLDER</key>
		<string>/Users/stex/Downloads</string>
		<key>REVEIL_IN_FINDER</key>
		<string>false</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PDF_OUTPUT_FOLDER</string>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Stex/alfred-evernote-helpers</string>
</dict>
</plist>
